/cour0/ConsoleApplication1/Debug
/cour0/ConsoleApplication1/ConsoleApplication1/Debug
/cour0/ConsoleApplication1/.vs
/cour0/ConsoleApplication1/x64
/Cour1/Debug
/Cour1/.vs
/Cour2/ApplicationConsoleCour2/Debug
/Cour2/ApplicationConsoleCour2/.vs
