/cour0/ConsoleApplication1/Debug
/cour0/ConsoleApplication1/ConsoleApplication1/Debug
/cour0/ConsoleApplication1/.vs
/cour0/ConsoleApplication1/x64
/Cour1/Debug
/Cour1/.vs
/Cour2/ApplicationConsoleCour2/Debug
/Cour2/ApplicationConsoleCour2/.vs
/Cour3/cour3/Debug
/Cour3/cour3/.vs
/app 8nov/app 8nov/.vs
/TP1 15nov(copie du 8nov)/app 8nov/Debug
/TP1 15nov(copie du 8nov)/app 8nov/.vs
/Cour7_SHADERS/app 8nov/.vs
/Cour7_SHADERS/app 8nov/Debug
